<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>750754161824-qujkjinat4m4seb5877n0oi44ks43deo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.750754161824-qujkjinat4m4seb5877n0oi44ks43deo</string>
	<key>API_KEY</key>
	<string>AIzaSyA1P41Mw3SL8bbWHLKPpnW6vRt1BLEqhkQ</string>
	<key>GCM_SENDER_ID</key>
	<string>750754161824</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatapp</string>
	<key>PROJECT_ID</key>
	<string>chatapp-ea49f</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-ea49f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:750754161824:ios:25086d236b49911f8755c5</string>
</dict>
</plist>